#main-navbar {
  background-color: blue;
  
}

#navbar-container {
  /* background-color: gray; */
}

#navbar-container ul {
  position: relative;
  list-style-type: none;
  margin: 3em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: red; */
  /* left: 50%; */
  text-align: center;
}

#navbar-container ul li {
  /* float: center; */ 
  /* margin: 20px; */
  /* padding: 10px; */
  /* background-color: green; */
  /* right: 50%; */
  display: inline-block;
  
}

#navbar-container ul li a {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #fff;
}

#navbar-container ul li a:hover {
  background-color: black;
}

#onpage {
  text-decoration: overline underline;
  color: black;
}

#sidebar {
  right: 0%;
  position: fixed;
  background-color: red;
  width:20%;
  height: 100%;
  
}

#sidebar-container ul {
  position: relative;
  list-style-type: none;
  /* background-color: salmon; */
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
 }

#sidebar-container ul li {
  /* background-color: white; */
  display: block;
  text-align: center;
  right: 20%;
}

#sidebar-container ul li a {
  text-decoration: none;
  display:block;
  padding: 15px 0px;
  color: #fff;
}

#sidebar-container ul li a:hover {
  background-color: black;
  /* text-decoration: underline; */

}
/* 
#main-navbar {
  background-color: blue;
  
}

#navbar-container {
  background-color: gray;
}

#navbar-container ul {
  position: relative;
  list-style-type: none;
  margin: 3em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
  text-align: center;
}

#navbar-container ul li { 
  margin: 20px;
  padding: 10px;
  background-color: green;
  display: inline-block;
  
}

#navbar-container ul li a {
  text-decoration: none;
  display: block;
  color: #fff;
}

#navbar-container ul li a:hover {
  background-color: pink;
}

#sidebar {
  right: 0%;
  position: fixed;
  background-color: gray;
  width:20%;
  height: 100%;
  
}

#sidebar-container ul {
  position: relative;
  list-style-type: none;
  background-color: salmon;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
 }

#sidebar-container ul li {
  background-color: white;
  display:block;
  text-align:center;
  right: 20%;
}

#sidebar-container ul li a {
  text-decoration: none;
  display:block;
  padding: 15px 0px;
}

#sidebar-container ul li a:hover {
  background-color: bisque;
  text-decoration: underline;
} */


/*
#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative; 
  left: 50%; 
  float: left; 
}

#main-navbar ul li {
  float: left; 
  position: relative; 
  right: 50%;
  display: block;
}

#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#main-navbar ul li a:hover {
  background-color: #000;
}

#onpage {
  text-decoration: underline overline;
}

#sidebar {
  position: fixed;
  right:0%;
  background-color: red;
  height: 100%;
  width: 20%;
}

#sidebar ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-top: 0;
}

#sidebar ul li a {
  display: block;
  padding: 15px 0px;
  color: #fff;
  text-decoration: none;
}

#sidebar ul li a:hover {
  background-color: #000;
}

*/



